body {background-color: rgb(26, 33, 49); color:rgb(43, 179, 31); text-align: center;}
h2 {color:rgb(131, 219, 123); text-align: center;}
table {align-items: center;}
.cell {width:40px; height:40px;text-align: center}
.cell img {width:25px; height:auto}
.sky {background-color: rgb(29, 31, 39)}
.wall {background-color: rgb(85, 17, 17)}
.earth {background-color: rgb(28, 121, 131);}



